In [33]:
--Find the classes with low enrollment and the enrollment threshold can be adjusted to what you consider low
USE [QueensClassSchedule]

SELECT CourseName,
       InstructorFullName AS [Instructor Name],
       NumberEnrolled AS [Enrollment Number],
       Limit AS [Enrollment Limit]
FROM Course.[Class]
--the threshold can be adjusted as needed
WHERE NumberEnrolled < 10  
ORDER BY NumberEnrolled ASC;

In [35]:
--Find the classes where the building location is Powdermaker Building
USE [QueensClassSchedule]

SELECT 
    c.CourseName,
    c.InstructorFullName AS [Instructor Name]
FROM 
    Course.[Class] c
JOIN 
    Course.[Location] l ON c.LocationID = l.LocationID
WHERE 
    l.BuildingLocation = 'Powdermaker Building'
ORDER BY 
    c.CourseName;

: Msg 208, Level 16, State 1, Line 3
Invalid object name 'Course.Location'.

In [13]:
USE [QueensClassSchedule]
GO
SELECT TABLE_SCHEMA, TABLE_NAME 
FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_TYPE = 'BASE TABLE';

TABLE_SCHEMA,TABLE_NAME
Location,BuildingLocation
Department,Department
Course,Course
Department,Instructor
Course,Class
Uploadfile,CurrentSemesterCourseOfferings
Process,WorkflowSteps
dbo,sysdiagrams
DbSecurity,UserAuthorization
Course,ModeOfInstruction
Location,RoomLocation